
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f8172d;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #a3a3a3;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #202020;
    --gainsboro: #dcdcdc;
    --btn_duration: 0.5s;
    --btn: #f9f9ff;
}
* {
    box-sizing: border-box;
}

h4{
    font-size: 1.6rem;
    color: var(--dark);
    font-weight: 500;
    margin-top: 0;
}

b, i, sub, u {
    color: var(--orange);
}
a {
    text-decoration: none;
}

p{
    color: var(--secondary);
    letter-spacing: 0.3px;
    font-size: 0.9rem;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.5;
}

.sample_text , .sample_btn{
    margin-top: 100px;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.sample_btn a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 0.9rem;;
    font-weight: 600;
}

.ex-1-1 {
    background-color: var(--btn);
    color: var(--gray-dark);
    border: 1px solid var(--btn);
}

.ex-1-1:hover {
    background-color: var(--white);
    border: 1px solid var(--gainsboro);

}
.ex-1-2 {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
}

.ex-1-2:hover {
    border:1px solid var(--orange);
    background-color: var(--white);
    color: var(--orange);
    transition-duration: var(--btn_duration);
}

.ex-1-3 {
    background-color: var(--info);
    color: var(--white);
    border: 1px solid var(--info);
}

.ex-1-3:hover {
    border: 1px solid var(--info);
    background-color: var(--white);
    color: var(--info);
    transition-duration: var(--btn_duration);
}

.ex-1-4{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.ex-1-4:hover {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    transition-duration: var(--btn_duration);
}

.ex-1-5{
    background-color: var(--warning);
    color: var(--white);
    border: 1px solid var(--warning);
}

.ex-1-5:hover {
    border: 1px solid var(--warning);
    background-color: var(--white);
    color: var(--warning);
    transition-duration: var(--btn_duration);
}

.ex-1-6{
    background-color: var(--danger);
    color: var(--white);
    border: 1px solid var(--danger);
}

.ex-1-6:hover {
    border: 1px solid var(--danger);
    background-color: var(--white);
    color: var(--danger);
    transition-duration: var(--btn_duration);
}

.ex-1-7{
    background-color: var(--btn);
    border: 1px solid var(--btn);
    text-decoration: underline;
}

.ex-1-7:hover {
    border: 1px solid var(--gainsboro);
    background-color: var(--white);
    transition-duration: var(--btn_duration);
}

.ex-1-8{
    background-color: var(--btn);
    border: 1px solid var(--btn);
    cursor: not-allowed;
}