@import "index.css";
@import "schedule.css";
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f8172d;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #a3a3a3;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #202020;
    --black: rgb(12, 12, 12);
    --gainsboro: #dcdcdc;
    --bgcolor:#e8eaf649;
    --btn_duration: 0.5s;
}

header {
    margin-bottom: 0;
}

header > .navi > .nav_list > ul > li:nth-child(2) a {
    color: var(--white);
}


header > .navi > .nav_list > ul > li:nth-child(3) a {
    color: var(--blue);
}

header > .navi > .nav_list > ul > li> a:hover {
    color: var(--blue);
}

.blog {
    background-color: var(--light);
}

.blog_wrap {
    padding: 120px 350px 0 350px;
}

.blog_wrap::after {
    content: "";
    display: block;
    clear: both;    
}

.blog_wrap_left {
    width: 700px;
    float: left;
}

.blog_col{
    background-color: var(--white);
    position: relative;
    height: 610px;
    margin-bottom: 60px;
}

.blog_img {
    overflow: hidden;
}

.blog_contents {
    padding: 5px 30px 0px 30px;
}

.blog_post a {
    color: var(--gray-dark);
}

.blog_post a:hover {
    color: var(--blue);
}

.blog_post p {
    color: var(--gray-dark);
    font-weight: 200;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.blog_post h2 {
    margin: 40px 0 15px 0;
}

.blog_category ul {
    padding: 0;
}

.blog_category li {
    float: left;
}

.blog_category li::before {
    padding-left: 5px;
    padding-right: 5px;
    content: "|";
}

.blog_category li:first-child::before {
    content: none;
}

.blog_category a{
    color:var(--gray-dark);
    font-size: 1.0rem;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.blog_category a:hover{
    color: var(--blue);
}

.blog_mini {
    color: var(--white);
    background-color: var(--black);
    padding: 5px 25px 5px 25px;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    bottom: 215px;
    left: 35px;
}

.blog_mini strong{
    font-size: 1.3em;
    font-weight: 800;
    display: block;
}

.blog_mini span{
    font-weight: 200;
    display: block;
}

.blog_wrap_right {
    float: right;
}

.blog_col_search , .blog_search , .blog_col_category, .blog_col_post, .tag_cloud, .ins_feed, .newsletter{
    background-color: var(--bgcolor);
    width: 360px;
}

.blog_wrap_right {
    width: 400px;
}

.blog_keyword {
    position: relative;
}

.blog_keyword input{
    width: 300px;
    height: 50px;
    padding: 15px;
    border: 1px solid var(--gainsboro);
}

.blog_keyword a{
    width: 20px;
    height: 20px;
    top: 17px;
    right: 9px;
    display: block;
    position: absolute;
    background: url("img/icon/blog_search.png") no-repeat;
    background-size: 16px;
    background-repeat: no-repeat;
}

.blog_keyword input::placeholder {
    color: var(--secondary);
}

.blog_col_search {
    display: inline-block;
    padding: 30px;
    margin-bottom: 30px;
}

.blog_col_search > .blog_search {
    border:1px solid var(--blue);
    text-align: center;
    display: inline-block;
    margin-top:20px;
    width: 300px;
}

.blog_col_search > .blog_search > a {
    display: block;
    color: var(--blue);
    padding: 12px 30px 12px 30px;
    height: 48px;
    font-size: 0.8rem;
    font-weight: 300;
}

.blog_col_search > .blog_search > a:hover {
    color: var(--white);
    background-color: var(--blue);
    transition-duration: var(--btn_duration);
}
.blog_col_category {
    padding: 30px;
    color: var(--gray-dark);
    margin-bottom: 30px;
}
#blog_mini_title {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 35px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid var(--gainsboro);
}

.blog_unlist {
    padding:0;
}

.blog_col_category li {
    border-bottom: 1px solid var(--gainsboro);
    padding-bottom: 15px;
    margin-bottom: 12px;    
}

.blog_col_category a {
    color: var(--gray-dark);
    font-size: 0.9rem;
    font-weight: 300;
}
.blog_col_post {
    padding: 30px;
    color: var(--gray-dark);
    margin-bottom: 30px;
}

.blog_unlist > li > *{
    display: block;
}
.blog_unlist > li + li{
    margin-top: 25px;
}

.blog_unlist > li::after{
    display: block;
    content: "";
    clear: both;
}

.blog_unlist > li img{
    float: left;
    margin-right: 15px;
}
.blog_unlist > li > strong{
    font-weight: 500;
    padding-top: 15px;
}

.blog_unlist > li > span{
    color: var(--secondary);
    font-weight: 300;
    font-size: 0.9rem;
}
    
.tag_cloud {
    padding: 30px;
    margin-bottom: 30px;
}

.tag_cloud span {
    display: inline-block;
    margin: 0 5px 10px 5px;
}

.tag_cloud a  {
    border: 1px solid var(--gainsboro);
    padding: 3px 5px;
    color: var(--secondary);
    font-weight: 300;
    font-size: 0.8rem;
}

.tag_cloud a:hover  {
    color: var(--white);
    background-color: var(--blue);
}

.ins_feed {
    padding: 30px;
    margin-bottom: 30px;
}

.ins_feed > .fl {
    padding: 0px;
}
.ins_feed > .fl::after {
    content: "";
    display: block;
    clear: both;
}

.ins_feed li {
    float: left;
    height: 90px;
    margin: 0 0 0 15px;
}

.ins_feed > .fl + .fl {
    margin-top: 15px;
}

.ins_feed > .fl > li:first-child {
    margin:0;
}

.ins_feed a {
    width: 90px;
    height: 90px;
    display: inline-block;
}

.newsletter {
    padding:30px;
}

.newsletter input{
    width: 300px;
    height: 50px;
    padding: 15px;
    border: 1px solid var(--gainsboro);
}

.newsletter input::placeholder {
    color: var(--secondary);
}

.newsletter > .enter_email{
    border:1px solid var(--blue);
    text-align: center;
    display: inline-block;
    width: 300px;
    margin-top: 20px;
}

.newsletter > .enter_email > a {
    display: block;
    color: var(--blue);
    padding: 12px 30px 12px 30px;
    height: 48px;
    font-size: 0.8rem;
    font-weight: 300;
}

.newsletter > .enter_email > a:hover {
    color: var(--white);
    background-color: var(--blue);
    transition-duration: var(--btn_duration);
}