@import "index.css";

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f8172d;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #a3a3a3;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    /* --dark: #343a40; */
    --dark: #202020;
    --gainsboro: #dcdcdc;
    --btn_duration: 0.5s;
}

header {
    position: relative;
    margin-bottom: 110px;
}

header > .navi > .nav_list > ul > li:first-child a {
    color: var(--white);
}


header > .navi > .nav_list > ul > li:nth-child(2) a {
    color: var(--blue);
}

header > .navi > .nav_list > ul > li> a:hover {
    color: var(--blue);
}

.path {
    position: absolute;
    left: 250px;
    top: 255px;
}

.location {
    width: 800px;
    height: 200px;
    overflow: hidden;
    color: var(--white);
    font-weight: 600;
    font-size: 1.3rem;
    position: absolute;
    bottom: 25px;
    left: 650px;
}
.location_where {
    float: left;
    margin-right: 150px;
}